@media #{map-get($display-breakpoints, 'sm-and-down')} {
  .video-list-front {
    border: 1px solid green;

    img {
      width: 40% !important;
    }

    .video-title {
      font-size: 1rem !important;
    }

    .video-by {
      font-size: 1rem !important;
    }
  }

  .news-title {
    height: calc(60vh - 200px) !important;
  }


  .tweets-page {
    .news-title {
      height: calc(90vh - 200px) !important;
    }

  }

}