@import 'font';
@import '~vuetify/src/styles/settings/_variables';
@import 'md';
@import 'sm';



html,
body,
.application,
.v-btn__content,
.v-application,
h1,
h2,
h3,
h4,
h5,
h6,
input,
textarea {
  font-family: IRANSans, sans-serif !important;

}

a{
  text-decoration: none 
}


.news-title::-webkit-scrollbar ,
 .news-title-short::-webkit-scrollbar,
 .tweets-in-front::-webkit-scrollbar {
  width: 12px;
  /* width of the entire scrollbar */
}

.news-title::-webkit-scrollbar-track ,
.news-title-short::-webkit-scrollbar-track,
.tweets-in-front::-webkit-scrollbar-track {
  background: rgb(57, 57, 57);
  /* color of the tracking area */
}
.news-title::-webkit-scrollbar-thumb, 
.news-title-short::-webkit-scrollbar-thumb,
.tweets-in-front::-webkit-scrollbar-thumb 
{
  background-color: rgb(74, 74, 74);
  /* color of the scroll thumb */
  border-radius: 20px;
  /* roundness of the scroll thumb */
  border: 3px solid rgb(57, 57, 57);
  /* creates padding around scroll thumb */
}


.video-list-front {
  .player-icon {
    font-size: 14px !important;
    text-align: center;
    width: 100%;
    color: #ffe100;
    position: absolute;
    top: 0px;
    right: 0px;
    background: #4e12c7;
    z-index: 99;
    width: 160px;
    padding: 6px;
    font-weight: bold;
    height: 38px;
    span {
      position: absolute;
      right: 54px !important;
      font-size: 16px;
      top: 6px;
    }
    i {
      position: absolute;
      right: 18px;
      font-size: 31px;
      top: 3px;
      color: #fff;
    }
  }
  .orig-cover {
    width: 100%;
    border-radius: 4px;
    filter: brightness(0.85);
    filter: saturate(3);
  }

  .wrap {
    width: 100%;
    height: 100%;
    position: relative;
  }
  .wrap:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: inherit;
    background: rgba(69, 34, 134, 0.75);
  }

  .wrap2 {
    width: 100%;
    height: 100%;
    position: relative;
  }
  .wrap2:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: inherit;
    background: rgba(34, 102, 134, 0.75);
  }

  .wrap3 {
    width: 100%;
    height: 100%;
    position: relative;
  }
  .wrap3:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: inherit;
    background: rgba(34, 61, 134, 0.75);
  }

  .video-info-container {
    display: table-cell;
    position: absolute;
    bottom: 0px;
    width: 100%;
    z-index: 9999;

    .video-title {
      color: #e4e4e4;
      font-size: 1.5 rem;

      padding: 11px 20px;
      width: 99%;

      border-radius: 5px 0 0 4px;
    }

    .video-by {
      color: #b3b3b3;
      padding: 6px 20px;
      width: 95%;
    }

    .video-subtitle {
      color: #fbff00;
      padding: 6px 20px 16px 20px;
      width: 100%;
    }
  }
}

.category-front-grid {
  display: flex;

  img {
    max-width: 30%;
  }
  h3 {
    color: rgb(172, 172, 172);
  }
  .name {
    text-align: center;
    margin-top: 10px;
    color: rgb(153, 153, 153);
  }
}

.line {
}

.v-btn {
  letter-spacing: 0px !important;
}

// .saturate {
//   filter: saturate(3);
// }
// .grayscale {
//   filter: grayscale(100%);
// }
// .contrast {
//   filter: contrast(160%);
// }
// .brightness {
//   filter: brightness(0.85);
// }
// .blur {
//   filter: blur(3px);
// }
// .invert {
//   filter: invert(100%);
// }
// .sepia {
//   filter: invert(8%) sepia(97%) saturate(7488%) hue-rotate(12deg)
//     brightness(92%) contrast(114%);
// }
// .huerotate {
//   filter: hue-rotate(180deg);
// }
// .rss.opacity {
//   filter: opacity(50%);
// }

.w-100 {
  width: 100% !important;
}

.last-videos-front-banner-lg {
  border: 1px solid red;
  height: 366px;
  h2 {
    color: #3b437f;
    position: relative;
    top: -130px;
    background-color: #d5f7e6c4;
    width: 80%;
    margin: auto;
    display: block;
    text-align: center;
    padding: 10px;
  }
  h3 {
    color: #6837e5;
    position: relative;
    top: -130px;
    background-color: #d5f7e6c4;
    width: 80%;
    margin: auto;
    display: block;
    text-align: center;
    padding: 10px;
  }
  h4 {
    color: #6837e5;
    position: relative;
    top: -130px;
    background-color: #d5f7e6c4;
    width: 80%;
    margin: auto;
    display: block;
    text-align: center;
    padding: 10px;
  }
}




  .news-title{
    display: block;
    flex: 1 1 auto;
    height: calc(100vh - 185px);
    overflow: auto;
    position: relative;
    
  }

  .news-title-short {
    display: block;
    height: calc(50vh - 170px);
    overflow: auto;
    position: relative;
    display: flex;    
  }
  .tweets-in-front{
    display: block;
    flex: 1 1 auto;
  height: calc(50vh - 150px);
    overflow: auto;
    position: relative;
  }



.divider-1{
    width: 96%;
    height: 3px;
    background-color: #525252;
    border-radius: 11px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.currencies{
  background-color: blue;
  height: 100%;
  width: 100%;
}


.influencer{
.profile{
display: block;
margin: auto;
padding-top: 30px !important;
flex-direction: column;

text-align: center;
}
}