@import 'font';
@import '~vuetify/src/styles/settings/_variables';
@import 'md';
@import 'sm';



html,
body,
.application,
.v-btn__content,
.v-application,
h1,
h2,
h3,
h4,
h5,
h6,
input,
textarea {
  font-family: IRANSans, sans-serif !important;


}

a {
  text-decoration: none;

}


.v-snack__content {

  width: 100% !important;
  line-height: 2 !important;
}

.cursor-pointer {
  cursor: pointer;
}

.v-otp-input {
  direction: ltr !important;
}

.h-100 {

  height: 100% !important;
}

.mr-auth-layout {
  height: 100%;
  display: flex;
}

.news-title::-webkit-scrollbar,
.news-title-short::-webkit-scrollbar,
.tweets-in-front::-webkit-scrollbar {
  width: 12px;
  /* width of the entire scrollbar */
}

.news-title::-webkit-scrollbar-track,
.news-title-short::-webkit-scrollbar-track,
.tweets-in-front::-webkit-scrollbar-track {
  background: rgb(57, 57, 57);
  /* color of the tracking area */
}

.news-title::-webkit-scrollbar-thumb,
.news-title-short::-webkit-scrollbar-thumb,
.tweets-in-front::-webkit-scrollbar-thumb {
  background-color: rgb(74, 74, 74);
  /* color of the scroll thumb */
  border-radius: 20px;
  /* roundness of the scroll thumb */
  border: 3px solid rgb(57, 57, 57);
  /* creates padding around scroll thumb */
}


.video-list-front {
  .player-icon {
    font-size: 14px !important;
    text-align: center;
    width: 100%;
    color: #ffe100;
    position: absolute;
    top: 0px;
    right: 0px;
    background: #4e12c7;
    z-index: 99;
    width: 160px;
    padding: 6px;
    font-weight: bold;
    height: 38px;

    span {
      position: absolute;
      right: 54px !important;
      font-size: 16px;
      top: 6px;
    }

    i {
      position: absolute;
      right: 18px;
      font-size: 31px;
      top: 3px;
      color: #fff;
    }
  }

  .orig-cover {
    width: 100%;
    border-radius: 4px;
    filter: brightness(0.85);
    filter: saturate(3);
  }

  .wrap {
    width: 100%;
    height: 100%;
    position: relative;
  }

  .wrap:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: inherit;
    background: rgba(69, 34, 134, 0.75);
  }

  .wrap2 {
    width: 100%;
    height: 100%;
    position: relative;
  }

  .wrap2:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: inherit;
    background: rgba(34, 102, 134, 0.75);
  }

  .wrap3 {
    width: 100%;
    height: 100%;
    position: relative;
  }

  .wrap3:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: inherit;
    background: rgba(34, 61, 134, 0.75);
  }

  .video-info-container {
    display: table-cell;
    position: absolute;
    bottom: 0px;
    width: 100%;
    z-index: 9999;

    .video-title {
      color: #e4e4e4;
      font-size: 1.5 rem;

      padding: 11px 20px;
      width: 99%;

      border-radius: 5px 0 0 4px;
    }

    .video-by {
      color: #b3b3b3;
      padding: 6px 20px;
      width: 95%;
    }

    .video-subtitle {
      color: #fbff00;
      padding: 6px 20px 16px 20px;
      width: 100%;
    }
  }
}

.category-front-grid {
  display: flex;

  img {
    max-width: 30%;
  }

  h3 {
    color: rgb(172, 172, 172);
  }

  .name {
    text-align: center;
    margin-top: 10px;
    color: rgb(153, 153, 153);
  }
}

.line {}

.v-btn {
  letter-spacing: 0px !important;
}



.w-100 {
  width: 100% !important;
}

.last-videos-front-banner-lg {
  border: 1px solid red;
  height: 366px;

  h2 {
    color: #3b437f;
    position: relative;
    top: -130px;
    background-color: #d5f7e6c4;
    width: 80%;
    margin: auto;
    display: block;
    text-align: center;
    padding: 10px;
  }

  h3 {
    color: #6837e5;
    position: relative;
    top: -130px;
    background-color: #d5f7e6c4;
    width: 80%;
    margin: auto;
    display: block;
    text-align: center;
    padding: 10px;
  }

  h4 {
    color: #6837e5;
    position: relative;
    top: -130px;
    background-color: #d5f7e6c4;
    width: 80%;
    margin: auto;
    display: block;
    text-align: center;
    padding: 10px;
  }
}

.news-title {
  display: block;
  flex: 1 1 auto;
  height: calc(100vh - 200px);
  overflow: auto;
  position: relative;
  overflow-y: scroll !important;
  overflow-x: hidden !important;


}

.news-title-short {


  height: 100%;

  overflow-x: hidden !important;

  .inner {
    width: 100%;
  }
}

.tweets-in-front {
  display: block;
  flex: 1 1 auto;
  height: calc(85vh - 150px);
  overflow: auto;
  position: relative;
}



.divider-1 {
  width: 96%;
  height: 3px;
  background-color: #525252;
  border-radius: 11px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.currencies {
  background-color: blue;
  height: 100%;
  width: 100%;
}


.influencer {
  .profile {
    display: block;
    margin: auto;
    padding-top: 30px !important;
    flex-direction: column;

    text-align: center;
  }
}



.tweet-card-dialog {
  .tweet {
    line-height: 1.8;
    margin-top: 20px;


  }
}

.tweets-page {

  .bg-main {
    background-color: #13202B !important;
    height: 100vh;
  }


}

.tweet-link {
  background-color: #1a1c1e;
  padding: 8px;
  border-radius: 8px;
}

.with_hashtag_rtl {
  color: #00b9ff;
  direction: rtl;
  unicode-bidi: embed;
  padding: 0 2px;
}

.with_hashtag_ltr {
  color: #00b9ff;
  direction: ltr;
  unicode-bidi: embed;
  padding: 0 2px;
}

.lh-2 {
  line-height: 2rem;
}

.desc_added {
  div {
    margin: 0 2px;
  }

  display: flex;
  color: #767676;
  font-weight: 500;

  &::before {
    content: ' * '
  }
}

.right-menu-active {
  i {
    color: #b9ccd4 !important;
  }

  &::before {
    background-color: transparent !important;
  }

  .name-of-link {
    color: #b9ccd4;
  }
}

.logo-right {
  height: 94px;
  width: 98%;

  .fidinex-menu {
    background-color: #bbccd4;
    position: relative;
    top: -20px;
    padding: 5px 0px;
    width: 95px;
    color: #6c6c6c;
  }
}

.logo-footer {

  position: absolute;
  left: 12px;
  bottom: 45pX;

  img {
    border-radius: 10px;
  }
}

.footer {


  .fidinex-menu {
    position: absolute;
    left: 120px;
    bottom: 65px;
    font-size: 21px;

  }
}

.with_mention_ltr {
  color: #b3aeae !important;
  direction: ltr !important;
  unicode-bidi: embed !important;
}

.with_symbol_ltr {
  color: #b3aeae !important;
  direction: rtl;
  unicode-bidi: embed;
}


// .short-news-front {
//   border: 1px solid red !important;


//   .source {
//     font-size: 12px;
//     color: #00b7ff;
//   }
// }

.mr-auth-layout {
  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;

  }

}


.panel-menu-in-right {
  background: #0ab1ffb3;
  font-size: 13px;
  text-align: center;
  padding: 10px 0;
  width: 95px;

  a {
    color: #FFF !important;
  }
}


.berger-menu {

  position: absolute;
  bottom: 18px;

}

.berger-menu-txt {

  position: absolute;
  bottom: 61px;
  right: 59px
}



.footer-menu {
  justify-content: end;
  width: 100%;

  .item {
    margin-right: 15px;
    font-size: 13px;
    color: #999999;

  }
}

.live-banner {
  width: auto;
  height: 90px;
  background: url('../images/front/live-bg.png') no-repeat right;
  margin-top: 10px;
  margin: 13px auto;
  display: block;
  border-radius: 4px;


  background-size: cover;

  .ltitle {
    text-align: center;
    padding-top: 10px;
    font-size: 25px;
    color: #fff900;
  }

  .lstitle {
    text-align: center;
    margin-top: 5px;
    font-size: 13px;
    color: #99982b;
  }

  .click-me {

    font-size: 13px;
    position: relative;
    bottom: 16px;
    left: 10px;
    background-color: #ed219b;
    width: 70px;
    float: left;
    text-align: center;
    border-radius: 4px;
    padding: 3px;
    color: #fff;
  }
}

.tweet-bg-in-front {
  background-color: #13202B;
  padding: 16px;
  border-radius: 4px;
}

.news-short-header {
  background-color: #2F3136 !important;
  position: fixed;
  width: 100% !important;
  z-index: 2;
}


.tweet-cards {


  .profile {

    display: flex;
    justify-content: end;
  }

  .like-retweets {
    display: block;
    text-align: left;
    font-size: 12px;

  }

  .tweet {

    width: 97%;
    margin: auto;
    display: block
  }

  background: none !important;
  border-bottom: 1px solid #243642 !important;
  border-radius: 0px !important;
}


.best-articles {
  .image {
    width: 100%;

    &:after {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      display: inline-block;
      background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%);
      /* FF3.6+ */
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 1)));
      /* Chrome,Safari4+ */
      background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%);
      /* Chrome10+,Safari5.1+ */
      background: -o-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%);
      /* Opera 11.10+ */
      background: -ms-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%);
      /* IE10+ */
      background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%);
      /* W3C */
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#a6000000', endColorstr='#00000000', GradientType=0);
      /* IE6-9 */
    }
  }

  .a-title {
    color: orange;
    position: relative;
    top: -8vh;
    right: 12px;
  }
}